<%= flash[:notice] %>
<div class="mx-auto mt-3">
  <h1>welcome to <i class="fas fa-book"></i><strong>Bookers</strong> !!</h1>
  <p>In <i class="fas fa-book"></i><strong>Bookers</strong>,</p>
  <p>you can share and exchange your opinions , inpressions , and emotions</p>
  <p>about various books!</p>
      
  <div class="text-center">
    <div class="my-3">
      <%= link_to new_user_session_path, class: 'text-light' do %>
        <button type="button" class="btn btn-info w-75">Log in
        </button>
      <% end %>
    </div>
    <div class="my-3">
      <%= link_to new_user_registration_path, class: 'text-light' do %>
        <button type="button" class="btn btn-success w-75">Sign up
        </button>
      <% end %>
    </div>
  </div>
</div>